body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul,li{
    display: flex;
    gap:8px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    
}
.header {
    display: flex;
    background: #1f2937;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
    font-size: 24px;
    gap: 60px;
}
.body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container{
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
    background:#1f2937;
    height: 200px;
}
.cont-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: flex-start;
    width: 500px;
    color: #f9faf880;
    font-size: 18px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background: gray;
    color: #e5e7eb;
}
.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    height: 200px;
}
.box-container{
    display: flex;
    justify-content: center;
    width: 500px;
}
.img-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.info-text{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}
.info-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    color: #1f293799;
    
}
.box{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 10%;
    border-color: #3882f6;
}
.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background: #e5e7eb;
    height: 200px;
}
.quote{
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 1000px;
}
.quoter{
    display: flex;
    margin-left: 500px;
}
.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    height: 200px;
}
.signup{
    display: flex;
    background:#3882f6;
    border-radius: 10px;
    padding:32px;
    gap: 100px;
}
.signuptext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold
}
.signuptext,.subtext{
    color:#f9faf8;
}
.subtext{
    font-weight: lighter;
}
.Footer{
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: #f9faf8  ;
}
.Header-links{
    font-size: 18px;
    color: #e5e7eb;
}
.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.button{
    background: #3882f6;
    margin-top: 8px;
    color: #f9faf8;
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    color: #f9faf8;
}
.button,.button2{
    padding: 8px;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
}